.details{
    display: flex;
    justify-content: space-between;

    text-transform: capitalize;
    margin:  100px;

}
figure{
    width: 33%;
    margin-right: 15px;
    display: block;

}
article{
    width: 66%;
}
figure img{
    height: 500px;
    width: 100%;
    display: block;
    border-radius: 5px;
}
.title{
    font-size: 2.5rem;
    color: #222;
    
}
#desc{
    margin: 10px 20px 10px;
    line-height: 1.4;
   
}

.desc-title{
    font-size: 2rem;
    color: #444;
    

}

#dropdown{
    height: 45px;
   
    padding: 0 10px ;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: #aaa;
    color: #222;
    border-bottom: 2px solid #57f;
    text-transform: capitalize;
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
    
    
}
.btn{
    
    display: inline-block;
    padding: 10px 15px;
    background-color: #57f;
    color: #222;
    font-size: 2rem;
    border:none;
    outline: none;
    text-transform: capitalize;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin: 15px ;
}


