
table{
    padding:0;
    box-shadow: 0 0 5px 3px #555;
    outline: none;
}
th,td{
    display: block;
    color: #333;
    padding: 5px 10px;
    height: 45px;
    width: 25%;
    text-align: center;
    
}
tr{
    display: flex;
    border-bottom:1px solid #222;
    justify-content: space-between;
}
thead{
    background-color: rgb(157, 180, 199);
    
}