nav{
    background-color: black;
    
}
#links{
    display: flex;
    list-style: none;
    padding-inline-start: 0;
}
#links  li a{
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-family: 'Lucida Sans';
    padding: 20px 0;
    margin-right: 20px;
    
}