<div class="container">
    <div class="link3">
        <a id="click" [routerLink]="''">my profile</a>
        <a id="click" [routerLink]="'/register'">edit profile</a>
        <a  id="click" [routerLink]="'/myHistory'">my history</a>
    </div>
    <form action="" method="">

    
             <label for="userName">user name</label>
            <input type="text" id="userName" name="userName" [value]="data.userName" >

           <div class="inputs">
                <div class="input">
                    <label for="firstName">first name</label>
                    <input type="text" id="firstName" name="firstName" [value]="data.fullName.firstName">
                </div>

                <div class="input">
                    <label for="lastName">last name</label>
                    <input type="text" id="lastName" name="lastName" [value]="data.fullName.lastName">
                </div>

                <div class="input">
                    <label for="email">email</label>
                    <input type="email" name="email" id="email" [value]="data.email">        
                </div>

                <div class="input">
                    <label for="phone">phone</label>
                    <input type="tel" id="phone" name="phone"  [value]="data.phone">
                </div>

           </div>
            <a id="click" [routerLink]="'/register'">edit profile</a>
    </form>
</div>
