.booking{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
   
}
#title{
    color: #000;
}
header span{
    color: #333;
    text-align: center;
    display: block;
}
 h4{
    text-transform: capitalize;
    font-size: 1.7rem;
    text-align: center;
    color: rgb(20, 19, 19);
}
.left{
    width: 35%;
}
.right{
    width: 60%;
}

i{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 25px;
    background-color: rgb(92 ,162, 227);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    user-select: none;
    cursor: pointer;
}
strong{
    margin-left: 12px;
    margin-right: 12px;
}
.choose{
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}
.name{
    width: 40%;
    text-transform: capitalize;
    padding-top:10px ;
    color: #333;
    text-align: center;
    font-size: 1.2rem;
}
.count {
    text-align: center;
    width: 40%;
    text-transform: capitalize;
    padding-top:10px ;
    
}
.count p{
    font-weight: normal;
    font-size: .8rem;
    margin-top: 5px;
}
.cen{
    text-align: center;
    color: #111;

}
/* right */
.top{
    padding: 10px;
    color: #555;
}
.span{
    height: 30px;
    width: 25px;
    border-radius: 5px 5px 0 0;
    margin:7px 5px;
    display: inline-block;
    user-select: none;
    cursor: pointer;
}
.seat-color{
    width: 40%;
    margin: 15px auto;
}
.colors{
    display: flex;
    background-color: #ccc;
    border-radius: 5px;
}
.color{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
}
.span+span{
    font-size: .8rem;
    color: #777;   
}
.shape{
    height: 40px;
    width: 550px;
    margin: 15px 150px;
    background-color: #555;

    transform: skew(-30deg);
    position: relative;
  
}
.shape:after{
    content: "";
    position: absolute;
    top: 0;
    left: -45px;
    z-index: 1;
    height: 40px;
    width: 90px;
    display: block;
    transform: skew(52deg);
    background-color: #555;
}
.seats{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
}
.seat{

    display: block;
    width: 15%;
}
.seat span{
line-height: 2;
}
footer{
    height: 100px;
    margin:0 100px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #ccc;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 5px;
}
footer > *{
    width: 18%;
}
footer strong{
    margin-left: 5px;
    margin-right: 5px;   
}
footer strong + span{
    margin-right: 5px;
}